<!-- Header -->
<header id="head">
    <div class="container">
        <div class="heading-text">
            <h1 class="animated flipInY delay1">Start Online Education</h1>
            <p>Free learning English on our Site</p>
        </div>

        <div class="fluid_container">
            <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                <div data-thumb="frontend/assets/images/slides/thumbs/img1.jpg" data-src="frontend/assets/images/slides/img1.jpg">
                    <h2>We develop.</h2>
                </div>
                <div data-thumb="frontend/assets/images/slides/thumbs/img2.jpg" data-src="frontend/assets/images/slides/img2.jpg">
                </div>
                <div data-thumb="frontend/assets/images/slides/thumbs/img3.jpg" data-src="frontend/assets/images/slides/img3.jpg">
                </div>
            </div><!-- #camera_wrap_3 -->
        </div><!-- .fluid_container -->
    </div>
</header>
<!-- /Header -->